.movies {
  display: flex;
  justify-content: space-around;
}

.nav {
  padding-left: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: safe;
  margin-left: 10rem;
}
.nav div {
  width: 20%;
}

.formadd {
  display: flex;
  flex-direction: column;
}
